<div class="row">
  <div class="col-12">
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade">
    <!--First slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/actors/tamanna-bhatia.jpg">
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/actors/anushka.jpg">
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/actors/catherine-tresa.jpg">
    </mdb-carousel-item>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
</div>