<div *ngIf="castingCalls | async; else loading">
  <div >
    <table class="table table-striped">
        <thead class="purple white-text">
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Company</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let castingCall of castingCalls | async" (click)="showDetails(castingCall)">
            <td (click)="showDetails(castingCall)">{{ castingCall.projectName }}</td>
            <td (click)="showDetails(castingCall)">{{ castingCall.productionCompany }}</td>
            <td (click)="showDetails(castingCall)">{{ castingCall.roleDetails }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <ng-template #nodata>
      No Casting Calls found for given criteria
  </ng-template>
</div>
<ng-template #loading>
  Loading User...
</ng-template>
