<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <nav class="navbar navbar-expand-md  navbar-expand-lg navbar-expand-xl navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/scalogo.jpg" width=30 height=30/></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Talent
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Actor</a>
                <a class="dropdown-item" href="#">Photographer</a>
                <a class="dropdown-item" href="#">Director</a>
                <a class="dropdown-item" href="#">Designer</a>
                <a class="dropdown-item" href="#">Dubbing Artist</a>
                <a class="dropdown-item" href="#">Singer</a>
                <a class="dropdown-item" href="#">Musician</a>
                <a class="dropdown-item" href="#">Other</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Casting Calls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Locations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Studios</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Movie Consulting
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Project Consulting</a>
                <a class="dropdown-item" href="#">Agreements</a>
                <a class="dropdown-item" href="#">Viability Study</a>
                <a class="dropdown-item" href="#">Marketing</a>
              </div>
            </li>
          </ul>

        </div>
      </nav>
    </div>
    <div class="col-3 text-right" >
        <app-profile></app-profile>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
