<div class="form-group">
  <label for="screenName">Screen name</label>
  <input type="text" class="form-control" id="screenName" placeholder="Enter screen name">
</div>
<div class="form-group" [class.has-error]="nameControl.invalid">
  <label for="name" class="control-label">Name</label>
  <input required type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="fbName" #nameControl="ngModel">
  <span class="help-block" *ngIf="nameControl.invalid">Please enter Name</span>
</div>
<div class="form-group" [class.has-error]="emailControl.invalid">
  <label for="emailId" class="control-label">Email address</label>
  <input type="email" class="form-control" id="emailId" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="fbEmail" #emailControl="ngModel">
  <span class="help-block" *ngIf="emailControl.invalid">Please enter Email-Id</span>
</div>
<div class="form-group">
  <label for="country">Country</label>
  <select [(ngModel)]="modelCountry" ngOptions="item.name for item in countries">
  </select>
</div>
<div class="form-group" [class.has-error]="cityControl.invalid">
  <label class="control-label" for="city">City</label>
  <input id="city" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" #cityControl="ngModel" />
  <span class="help-block" *ngIf="cityControl.invalid">Please enter city</span>
  </div>

<div class="form-group" [class.has-error]="cityControl.invalid">
  <label for="phoneNumber" class="control-label">Phone number</label>
  <input type="number" class="form-control" id="phoneNumber" placeholder="Enter phone number">
  <span class="help-block" *ngIf="nameControl.invalid">Please enter Name</span>
</div>
<div class="form-group">
    <div class="form-check">
      <input class="form-check-same" type="checkbox" value="" id="form-check-same" required>
      <label class="form-check-label" for="sameAsPhoneNumber">
        Same as phone number
      </label>
    </div>
  </div>
<div class="form-group" [class.has-error]="cityControl.invalid">
  <label for="whatsappNumber" class="control-label">Whatsapp number</label>
  <input type="text" class="form-control" id="whatsappNumber" placeholder="Enter whatsapp number">
  <span class="help-block" *ngIf="nameControl.invalid">Please enter Name</span>
</div>
<div class="form-group">
  <label for="gender">Gender</label>
  <div class="btn-group-sm" role="group" aria-label="gender">
    <button type="button" class="btn btn-secondary">Male</button>
    <button type="button" class="btn btn-secondary">Female</button>
    <button type="button" class="btn btn-secondary">Transgender</button>
  </div>
</div>
<div class="form-group" [class.has-error]="cityControl.invalid">
  <label for="dateOfBirth" class="control-label">Date of birth</label>
  <input type="text" ngbDatepicker #d="ngbDatepicker" class="form-control" id="dateOfBirth" placeholder="Enter date of birth">
  <span class="help-block" *ngIf="nameControl.invalid">Please enter DOB</span>
</div>
<div class="form-group">
  <label for="exampleInputGender1">Searchable</label>
  <div class="btn-group-sm" role="group" aria-label="serachable">
    <button type="button" class="btn btn-secondary">Yes</button>
    <button type="button" class="btn btn-secondary">No</button>
  </div>
</div>
<div class="form-group">
  <label for="exampleInputGender1">Roles</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <label>Actor</label>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <label>Director</label>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <label>Technician</label>
  </div>
</div>


<button type="submit" class="btn btn-primary">Register</button>
