<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
<div class="form-group" [class.has-error]="screenNameControl.touched && screenNameControl.invalid">
  <label class="control-label" for="screenName">Screen name</label>
 <input type="text" class="form-control" name="screenName"  placeholder="Enter screen name" [(ngModel)]="screenName"
 #screenNameControl="ngModel" required>
  <span class="help-block" *ngIf="screenNameControl.invalid && screenNameControl.touched">Please enter screen name</span>
</div>
<div class="form-group" [class.has-error]="nameControl.invalid && nameControl.touched">
  <label for="name" class="control-label">Name</label>
  <input required type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="fbName" #nameControl="ngModel"
  [ngModelOptions]="{standalone: true}" required>
  <span class="help-block" *ngIf="nameControl.invalid && nameControl.touched">Please enter Name</span>
</div>
<div class="form-group" [class.has-error]="emailControl.invalid && emailControl.touched">
  <label for="emailId" class="control-label">Email address</label>
  <input type="email" class="form-control" name="emailId" placeholder="Enter email" [(ngModel)]="fbEmail" #emailControl="ngModel"
  [ngModelOptions]="{standalone: true}"required>
  <span class="help-block" *ngIf="emailControl.invalid && emailControl.touched">Please enter Email-name</span>
</div>
<div class="form-group" [class.has-error]= "countryControl.touched && countryControl.invalid">
  <label class="control-label" for="country">Country</label>
  <select [(ngModel)]="modelCountry" ngOptions="item.name for item in countries" #countryControl="ngModel" [ngModelOptions]="{standalone: true}" required>
  </select>
</div>
<div class="form-group" [class.has-error]="cityControl.invalid && cityControl.touched">
  <label class="control-label" for="city">City</label>
  <input name="city" type="text" class="form-control" [(ngModel)]="modelCities" [ngbTypeahead]="search" #cityControl="ngModel"
  [ngModelOptions]="{standalone: true}" required/>
  <span class="help-block" *ngIf="cityControl.invalid && cityControl.touched">Please enter city</span>
  </div>

<div class="form-group"  [class.has-error]="phoneNumberControl.invalid && phoneNumberControl.touched">
  <label for="phoneNumber" class="control-label">Phone number</label>
  <input type="number" class="form-control" name="phoneNumber" placeholder="Enter phone number" [(ngModel)]="phoneNumber" #phoneNumberControl="ngModel"
  [ngModelOptions]="{standalone: true}" required>
  <span class="help-block" *ngIf="phoneNumberControl.invalid &&  phoneNumberControl.touched">Please enter phone number</span>
</div>
<div class="form-group" >
    <div class="form-check"  [class.has-error]="isSameAsPhone.invalid" >
      <input class="form-check-same" type="checkbox" value="" name="form-check-same" [(ngModel)]="isSameASPhone" #isSameAsPhone="ngModel"
      [ngModelOptions]="{standalone: true}" required>
      <label class="control-label" class="form-check-label" for="sameAsPhoneNumber">
        Same as phone number
      </label>
    </div>
  </div>
<div class="form-group" [class.has-error]="whatsappNumberControl.invalid && whatsappNumberControl.touched">
  <label for="whatsappNumber" class="control-label">Whatsapp number</label>
  <input type="number" class="form-control" name="whatsappNumber" placeholder="Enter whatsapp number" [(ngModel)]="whatsappNumber"
  #whatsappNumberControl="ngModel" [ngModelOptions]="{standalone: true}" required>
  <span class="help-block" *ngIf="whatsappNumberControl.invalid && whatsappNumberControl.touched">Please enter whatsapp number</span>
</div>
<div class="form-group">
  <label for="gender">Gender</label>
  <div class="btn-group-sm" role="group" aria-label="gender">
    <button type="button" class="btn btn-secondary">Male</button>
    <button type="button" class="btn btn-secondary">Female</button>
    <button type="button" class="btn btn-secondary">Transgender</button>
  </div>
</div>
<div class="form-group" [class.has-error]="dateOfBirtControl.invalid && dateOfBirtControl.touched">
  <label for="dateOfBirth" class="control-label">Date of birth</label>
  <input type="text" ngbDatepicker #d="ngbDatepicker" class="form-control" name="dateOfBirth" placeholder="Enter date of birth"
  [(ngModel)]="dateOfBirth" #dateOfBirtControl="ngModel" [ngModelOptions]="{standalone: true}" required>
  <span class="help-block" *ngIf="dateOfBirtControl.invalid && dateOfBirtControl.touched">Please enter Date Of Birth</span>
</div>
<div class="form-group">
  <label for="exampleInputGender1">Searchable</label>
  <div class="btn-group-sm" role="group" aria-label="serachable">
    <button type="button" class="btn btn-secondary">Yes</button>
    <button type="button" class="btn btn-secondary">No</button>
  </div>
</div>
<div class="form-group">
  <label for="exampleInputGender1">Roles</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <label>Actor</label>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <label>Director</label>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <label>Technician</label>
  </div>
</div>

 <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
</form>
